* {
    box-sizing: border-box;
}

body{
    background-size: cover;
    background-image: url("phtot.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center center;
}

.container{
display:flex;
text-align: center;
}

h1{
    font-weight: normal;
    font-size: 4rem;
}
.big-text{
    font-size: 6rem;
    line-height:1;
    margin:2rem;
}
span{
    font-size:2rem;
}